* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header & Nav */
header {
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header h1 {
  font-size: 1.5rem;
}

nav {
  padding: 1rem;
}

nav a,
nav p {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

nav p {
  display: inline;
}

nav a:hover {
  text-decoration: underline;
}

nav .active {
  background-color: grey;
  border-radius: 10px;
}

/* Main content area */
main {
  padding: 2rem;
}

main h1 {
  margin-bottom: 1rem;
}

/* Cards */
.card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h2 {
  margin-bottom: 1rem;
}

.card-link {
  transition: transform 0.2s;
}

.card p {
  margin-bottom: 1rem;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card-link p.link:hover {
  text-decoration: underline;
}

a.card-link {
  text-decoration: none;
  color: inherit;
}

/* Contact page card */
.card.contact-card {
  align-items: flex-start;
  text-align: left;
  max-width: 600px;
  border-radius: 8px;
}

.card.contact-card p {
  margin-bottom: 1rem;
}

/* Home page grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  min-height: calc(100vh - 70px);
}

/* Profile image */
.profile-img {
  border-radius: 50%;
  height: 200px;
  padding: 20px;
}

/* Projects page */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project {
  flex: 1 1 calc(50% - 0.75rem);
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 1.5rem;
}

.project-content h2 {
  margin-bottom: 0.75rem;
}

.project-content p {
  margin-bottom: 1rem;
  text-align: justify;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.project a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

/* Qualifications page */
.section {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Responsive  */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .project {
    flex: 1 1 100%;
  }
}